@model IEnumerable<CutFileWeb.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.ParentId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.ParentId == 0) {
                        @Html.DisplayFor(modelItem => item.CategoryName)
                       
                    }else {
                        <span>  |-- @item.CategoryName</span>
                    }
                    
                   
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.ParentId)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (item.Active == 1) {
                        <i class="fas fa-check" style="color: #11a40e;"></i>
                    } else {
                        <i class="far fa-times-circle" style="color: #f60404;"></i>
                    }                    
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-success btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>
                   
                    <a class="btn btn-danger btn-sm" asp-route-id="@item.CategoryId" asp-action="Delete">
                        <i class="fas fa-trash"> </i>
                    </a>                 
                </td>
            </tr>
        }
    </tbody>
</table>
